# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
!.vscode/tasks.json
coverage.xml
.ruff_cache
*.png

# Home Assistant configuration
config/*
!config/configuration.yaml
custom_components/powerocean/ecoflow_new.py
custom_components/powerocean/sensor_new.py
